body{
	font-family: 'Courier New', Courier, monospace
}

header *{
	display: inline-flex;
	align-items: center;
	height: 80px;
}

#titleText{
	margin: 10%;
	font-size: 50px;
}

#games{
	display: flex;
	justify-content: center;
}

#guesscoinText{
	color: blue;
	display: inline;
}

#guesscoinImage{
	display: inline;
}

#guesscoin{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px
}

#guesscoin *{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px
}

h3{
	display: flex;
	justify-content: center;
}

#guesscoinInfo{
	margin: 0px;
	display: flex;
	justify-content: center;
}
#guesscoinInfo *{
	margin: 0px;
}
